@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('montserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: 'MontserratUltraLight';
  src: url('montserrat/Montserrat-UltraLight.otf');
}

@font-face {
  font-family: 'MontserratHairline';
  src: url('montserrat/Montserrat-Hairline.otf');
}

body {
  margin: 0;
}

.eventHeader {
  color: #444444;
  font-family: 'MontserratLight';
}

.getStarted {
  background-color: #444444;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'MontserratHairline';
  letter-spacing: 3px;
  padding: 18px 75px;
  text-decoration: none;
}

.heroLogoLg {
  display: flex;
}

.heroLogoSm {
  display: none;
}

.hideLg {
  display: none;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  margin: 0 0 0 8.77%;
}

.mainAbout {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-between;
  margin: 0 0 0 8.77%;
}

.mainContent {
  width: 100%;
}

.mainHeader {
  color: #444444;
  font-family: 'MontserratHairline';
  font-size: 5rem;
  line-height: 40%;
}

.mainParagraph {
  color: #444444;
  font-family: 'MontserratLight';
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 150%;
  margin-bottom: 60px;
  width: 80%;
}

.mainSubHeader {
  color: #444444;
  font-family: 'MontserratLight';
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-left: 10px;
}

.mainText {
  color: #999999;
  font-family: 'MontserratLight';
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-left: 10px;
}

.menu {
  color: #444444;
  margin: 25px 60px 0 0;
}

.menu:hover {
  cursor: pointer;
}

.nav {
  color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLogo {
    height: 30px;
    margin: 20px 0 0 50px;
}

.navLogo:hover {
  cursor: pointer;
}

.play {
  align-items: center;
  background-color: #222222;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: center;
  width: 90px;
}

.play:hover {
  cursor: pointer;
}

.playArrow {
  color: '#FFFFFF'
}

.playContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.playLabel {
  color: #999999;
  font-family: 'MontserratLight';
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 20px;
}

.tab {
  background-color: #FFFFFF;
  color: #444444;
}

.tabs {
  flex: 1 auto;
  margin: 12px 25vw;
}

@media (max-width: 1215px) {
  .heroLogoLg {
    display: none;
  }

  .heroLogoSm {
    display: inline-block;
    height: 100px;
  }

  .hideLg {
    display: inline-block;
    margin-top: 30px;
  }

  .hideSm {
    display: none;
  }

  .inlineSm {
    bottom: 40px;
    display: inline-block;
    position: relative;
  }

  .main {
    flex-direction: column;
    margin: 0 0 0 18%;
  }

  .nav {
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .main {
    margin: 0 0 0 8%;
  }
}

@media (max-width: 750px) {
  .bracket {
    width: 80px;
  }

  .main {
    flex-direction: column;
    margin: 0 0 0 10%;
  }

  .mainHeader {
    font-family: 'MontserratUltraLight';
    font-size: 3.2rem;
  }

  .mainSubHeader {
    font-size: 1.1rem;
  }

  .mainText {
    font-size: 1rem;
  }

  .play {
    height: 70px;
    width: 70px;
  }

  .playContainer {
    margin-left: 30px;
  }

  .playLabel {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .bracket {
    display: none;
  }

  .main {
    margin: 0 5% 0 0;
    text-align: center;
  }

  .play {
    margin: 0 0 10px 39%;
  }

  .playContainer {
    flex-direction: column;
  }

  .playLabel {
    margin-right: 10%;
  }
}

@media (max-width: 450px) {
  .play {
    margin: 0 0 10px 35%;
  }
}
