@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('montserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: 'MontserratUltraLight';
  src: url('montserrat/Montserrat-UltraLight.otf');
}

@font-face {
  font-family: 'MontserratHairline';
  src: url('montserrat/Montserrat-Hairline.otf');
}

body {
  margin: 0;
}

//.aboutHeader is below .mainHeader

.cssHero {
  background-image: url('/gifs/css.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event {
  line-height: 60%;
  margin: 60px 10px 30px 0;
}

.event::after {
  content: "";
  background: #999999;
  margin-top: 20px;
  margin-left: -10px;
  position: absolute;
  height: 1px;
  width: 25%;
}

.eventHeader {
  color: #444444;
  font-family: 'Montserrat';
  margin-bottom: 0;
}

.eventInfo {
  color: #666666;
  font-family: 'MontserratLight';
}

.eventLink {
  color: #444444;
  font-family: 'Montserrat';
  text-decoration: none;
}

.events {
  margin-left: 16%;
  margin-top: 10%;
}

.eventsHeader {
  color: #444444;
  font-family: 'MontserratLight';
  font-size: 2rem;
  letter-spacing: 4px;
}

.getStarted {
  background-color: #444444;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'MontserratHairline';
  letter-spacing: 3px;
  padding: 18px 75px;
  text-decoration: none;
}

.getStarted:hover {
  background-color: #FFFFFF;
  border: 2px solid #444444;
  color: #444444;
  font-family: 'MontserratLight';
}

.gitHero {
  background-image: url('/gifs/git.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroLogoLg {
  display: flex;
}

.heroLogoSm {
  display: none;
}

.heroImg {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding: 60px 0;
  width: 100%;
}

.heroText {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'MontserratUltraLight';
  font-size: 2em;
  margin-right: 20px;
}

.heroText::first-letter {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'MontserratUltraLight';
  font-size: 4em;
}

.hideLg {
  display: none;
}

.htmlHero {
  background-image: url('/gifs/html.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.jsHero {
  background-image: url('/gifs/javascript.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  margin: 0 0 0 8.77%;
}

.mainAbout {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: center;
  margin: 0 0 0 8.77%;
}

.mainContent {
  width: 100%;
}

.mainHeader {
  color: #444444;
  font-family: 'MontserratHairline';
  font-size: 5rem;
  line-height: 40%;
}

// keep .aboutHeader below .mainHeader
.aboutHeader {
  line-height: 100%;
  margin-bottom: 30px;
}

.mainParagraph {
  color: #444444;
  font-family: 'MontserratLight';
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 150%;
  margin-bottom: 60px;
  width: 80%;
}

.mainSubHeader {
  color: #444444;
  font-family: 'MontserratLight';
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-left: 10px;
}

.mainText {
  color: #999999;
  font-family: 'MontserratLight';
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-left: 10px;
}

.menu {
  width: 30px;
  height: 20px;
  margin: 25px 60px 0 0;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #666666;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

.menu span:nth-child(1) {
  top: 0px;
}

.menu span:nth-child(2) {
  top: 8px;
}

.menu span:nth-child(3) {
  top: 16px;
}

.menu.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menu.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav {
  color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLogo {
    height: 30px;
    margin: 20px 0 0 50px;
}

.navLogo:hover {
  cursor: pointer;
}

.play {
  align-items: center;
  background-color: #222222;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: center;
  width: 90px;
}

.playArrow {
  color: '#FFFFFF'
}

.playContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 100000;
}

.playLabel {
  color: #999999;
  font-family: 'MontserratLight';
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 20px;
}

.registerLink {
  border: 1px solid #444444;
  border-radius: 2px;
  color: #444444;
  display: inline-block;
  font-family: 'MontserratUltraLight';
  font-size: .8rem;
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  text-decoration: none;
}

.registerLink:hover {
  background-color: #444444;
  color: #FFFFFF;
}

.sideMenu {
  background-color: #FFFFFF;
  border-left: 1px solid lightgrey;
  height: 100vh;
  left: 500px;
  text-align: center;
  transition: .4s ease-in-out;
  position: relative;
}

.sideMenuWrapper {
  bottom: 0;
  overflow: hidden;
  right: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  transition-delay: .4s;
  width: 22%;
  z-index: 999;
}

.sideNav {
  cursor: pointer;
  display: block;
  font-family: 'MontserratLight';
  margin-bottom: 15px;
  padding: 10px 0;
}

.sideNav:first-child {
  margin-top: 75px;
}

.sideNav:hover {
  background-color: #F2F7F3;
}

.tab {
  background-color: #FFFFFF;
  color: #444444;
}

.tabs {
  flex: 1 auto;
  margin: 12px 25vw;
}

@media (max-width: 1215px) {
  .heroLogoLg {
    display: none;
  }

  .heroLogoSm {
    display: inline-block;
    height: 100px;
  }

  .hideLg {
    display: inline-block;
    // margin-top: 30px;
  }

  .hideSm {
    display: none;
  }

  .inlineSm {
    bottom: 40px;
    display: inline-block;
    position: relative;
  }

  .main {
    flex-direction: column;
    margin: 0 0 0 18%;
  }

  .nav {
    justify-content: space-between;
  }

  .sideMenuWrapper {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .event::after {
    left: 27%;
    width: 50%;
  }

  .events {
    margin-left: 0;
  }

  .main {
    margin: 0 0 0 8%;
  }

  .mainAbout {
    flex-direction: column;
    margin: 33% 0 0 0;
    text-align: center;
  }

  .mainParagraph {
    margin-left: 10%;
  }

  .sideMenuWrapper {
    width: 39%;
  }
}

@media (max-width: 750px) {
  .bracket {
    width: 80px;
  }

  .cssHeroText:first-child {
    margin-left: 50px;
  }

  .cssHeroText:nth-child(2) {
    margin-right: 30px;
  }

// .gitHero is below .heroImg

  .heroText {
    margin: -10px 0;
  }

  .htmlHeroText:first-child {
    margin-right: 35px;
  }

  .htmlHeroText:nth-child(2) {
    margin-right: 65px;
  }

  .heroImg {
    flex-direction: column;
    padding: 0;
  }

// keep .gitHero below .heroImg
  .gitHero {
    padding: 200px 0;
  }

  .main {
    flex-direction: column;
    margin: 0 0 0 10%;
  }

  .mainHeader {
    font-family: 'MontserratUltraLight';
    font-size: 3.2rem;
  }

  .mainSubHeader {
    font-size: 1.1rem;
  }

  .mainText {
    font-size: 1rem;
  }

  .play {
    height: 70px;
    width: 70px;
  }

  .playContainer {
    margin-left: 30px;
  }

  .playLabel {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .sideMenuWrapper {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .bracket {
    display: none;
  }

  .main {
    margin: 0 5% 0 0;
    text-align: center;
  }

  .mainAbout {
    margin: 45% 0 0 0;
  }

  .play {
    margin: 0 0 10px 39%;
  }

  .playContainer {
    flex-direction: column;
  }

  .playLabel {
    margin-right: 10%;
  }

  .sideMenuWrapper {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .mainAbout {
    margin: 55% 0 0 0;
  }

  .play {
    margin: 0 0 10px 35%;
  }
}
